.text-capitalize {
    padding: 5% 0% 5% 0%;
    text-transform: uppercase;
    font-weight: bold;
    /* border: 1px solid red; */
}


.inline-portofolio {
    font-size: 1.15rem;
    }
    
    .inline-portofolio-icon {
      color: #282c34;
      padding: 1rem 1rem 1rem 1rem;
    }