.text-capitalize {
    padding: 1% 0% 1% 0%;
    text-transform: uppercase;
    font-weight: bold;
    /* border: 1px solid red; */
}

.text-muted {
  font-size:medium;
}


.inline-portofolio {
    font-size: 1.15rem;
    }
    
    .inline-portofolio-icon {
      color: white;
      padding: 1rem 1rem 1rem 1rem;
    }