.App {
  text-align: center;
}

.profile-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

article {
  // position: static;
  // width: 75%;
  min-height: 100vh;
  width: 100vw;
  margin: auto;
  background-color: rgba(76, 175, 80, 0.1);
  background-size: 50%;
  padding-top: 5rem;
}

article h2 {
  padding-bottom: 5rem;
  padding-top: 5rem;
}

.project-presentation-container ul {
  list-style: none;
}

.description-container {
  font-size: 1.4rem;
  text-align: justify;
}

.flex-row {
  // flex-direction: row;
  // border: 0.1px solid red;
  height: 50vh;
  justify-content: center;
  align-self: center;
  display: flex;
  // height: 40re;
  // background-color: blue;
  width: 35%;
  min-width: 15rem;
  // height: 20rem;
  // padding-top: 1%;
  // padding: 1% 1% 1% 1%;
}

.flex-column {
  // border: 0.1px solid red;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  display: flex;
  // min-width: 100px;
  // background: red;
  font: sans-serif;
  font-size: calc(10px + 2vmin);
  width: 60%;
  height: 50vh;
  min-width: 10rem;
  background-color: rgba(76, 175, 80, 0.1);
  opacity: 0.5;
}

.flex-body {
  // border: 1px solid red;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.img-responsive {
  width: 14rem;
  //   min-height: 12rem;
  align-items: center;
  justify-content: center;
  height: 13em;
}

.img-big {
  width: 100%;
  height: auto;
  max-width: 50rem;
}

.profile-photo {
  // height: 10rem;
  height: auto;
  // border: 1px solid red;
}



.description-container {
  max-width: 50%;
  margin: auto;
  text-align: justify;
}

.description-container p {
  text-indent: 3rem;
}

.team-member-child h6 {
  font-size: 1.2rem;
}
.dream-team-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex: 1 1 1 1;
  flex-wrap: wrap;
}

.team-member-child {
  min-width: 20rem;
  min-height: 20rem;
}

.project-presentation-container .attention {
  position: relative;
  color: red;
  font-size: 2rem;
  border: 2px solid red;
  transform: rotate(-5deg);
  width: 30%;
  min-height: 10%;
  text-align: center;
  margin: auto;
}

html {
  overflow: -moz-scrollbars-none;
  overflow: auto;
  -ms-overflow-style: none; /* IE 11 */
  scrollbar-width: none; /* Firefox 64 */
}

::-webkit-scrollbar {
  display: none;
}

.inline-portofolio {
font-size: 1.25rem;
}

.inline-portofolio-icon {
  padding: 1rem 1rem 1rem 1rem;
}

.grid-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, 200px);
  place-content: center;
  // place-items: center;
  // grid-template-columns: auto auto auto;
  max-width: 50vw;
  margin: auto;
  // text-align: justify;
  border:2px solid red;
  background-color: #2196F3;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}



.button {
  display: inline-flex;
  padding: 0.5rem 1.5rem;
  background: palevioletred;
  color: var(--clr-primary-100);
  font-size: 1.5rem;

  border-radius: 100vmax;
}

.grid-item a {
  text-decoration: none;
}